{% extends "template.html" %}

{% block content %}
<div class="col-md-12">
	<h1>Publicar documento</h1>
</div>
<div class="col-md-6 pt-50">
	<input name="archivo" type="file" class="form-control">
</div>
<div class="col-md-6 pt-30">
	<label for="nombre">Nombre</label>
	<input type="input" name="sex" id="nombre" class="form-control">
</div>
<div class="col-md-6 pt-30">
	<label for="referencia">Referencia</label>
	<input type="input" name="sex" id="referencia" class="form-control">
</div>
<div class="col-md-6 pt-30">
	<label for="categoria">Categoria</label>
	<select name="tipo" id="categoria" class="form-control">
		<option value="Tipo1">Tipo 1</option>
		<option value="Tipo2">Tipo 2</option>
		<option value="Tipo3">Tipo 3</option>
	</select>
</div>
<div class="col-md-6 pt-30">
	<label for="subcategoria">Sub categoria</label>
	<select name="tipo" id="subcategoria" class="form-control">
		<option value="Tipo1">Tipo 1</option>
		<option value="Tipo2">Tipo 2</option>
		<option value="Tipo3">Tipo 3</option>
	</select>
</div>
<div class="col-md-6 pt-30">
	<label for="palabrasclaves">Palabras claves</label>
	<input type="input" name="sex" id="palabrasclaves" class="form-control">
</div>
<div class="col-md-6 col-md-offset-6 pt-30">
	<button type="submit"class="btn btn-primary btn-block">Enviar</button>
</div>


{% endblock %}

