{% extends "template.html" %}

{% block content %}
<div class="col-md-12 header-title">
	<h1>Mi perfil</h1>
</div>
<div class="col-md-3">
	<img src="/static/img/profile.png" class="img-responsive center-block"/>
</div>
<div class="col-md-9">
	<p>Nombre y Apellido: Juan Gonzalez</p>
	<p>Edad: 40</p>
	<p>Cumple años: 1 de Enero</p>
	<p>Sexo: Masculino</p>
	<p>Pais: Argentina</p>
	<p>Desde: Lanus, Buenos Aires</p>
	<p>Profesión: Ing. en Sistemas</p>
	<p>Acerca de mi: Texto descriptivo</p>
</div>
<div class="col-md-9 col-md-offset-3">
	<a href="/modificar-datos-usuario"><button class="btn btn-primary btn-large">Modificar datos</button></a>
</div>
{% endblock %}

