{% extends "template.html" %}

{% block content %}
<div class="col-md-12 header-title">
	<h1>Mis referencias</h1>
</div>
<div class="col-md-12 referencia">
	<h2>Aclaraciones sobre Planificacion de Adquisiciones</h2>
	<a href="#">PMBOK 5yh edition</a>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat interdum odio in tempor. Maecenas sed justo a ex condimentum mollis eget vel dui. Praesent rutrum pellentesque feugiat. Suspendisse potenti. Ut viverra, dolor vitae faucibus viverra, quam nisl eleifend justo, id mollis ante ante a arcu. Sed sed erat non lectus facilisis aliquet a dictum massa. Morbi nec luctus libero. Quisque non ante arcu. Phasellus eu vestibulum turpis, at sodales dui.</p>
	<p>Valoracion: 7.2</p>
</div>

<div class="col-md-12 referencia">
	<h2>Aclaraciones sobre Planificacion de Adquisiciones</h2>
	<a href="#">PMBOK 5yh edition</a>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat interdum odio in tempor. Maecenas sed justo a ex condimentum mollis eget vel dui. Praesent rutrum pellentesque feugiat. Suspendisse potenti. Ut viverra, dolor vitae faucibus viverra, quam nisl eleifend justo, id mollis ante ante a arcu. Sed sed erat non lectus facilisis aliquet a dictum massa. Morbi nec luctus libero. Quisque non ante arcu. Phasellus eu vestibulum turpis, at sodales dui.</p>
</div>

{% endblock %}

