{% extends "template.html" %}

{% block content %}
<div class="col-md-2 right-border">
	<h3>Filtros aplicados</h3>
	<div class="row pt-25">
		<p>Tipo de busqueda:</p>
		<spam class="filtro">Publicacion <a href="?quitar=tipo" class="quitar-filtro">X</a></spam>
	</div>
	<div class="row pt-25">
		<p>Categoria:</p>
		<spam class="filtro">Informatica <a href="?quitar=categoria" class="quitar-filtro">X</a></spam>
	</div>
	<div class="row pt-25">
		<p>Subcategoria:</p>
		<spam class="filtro">Gestion <a href="?quitar=subcategoria" class="quitar-filtro">X</a></spam>
	</div>
	<div class="row pt-25">
		<p>Palabras clave:</p>
		<spam class="filtro">Gestion <a href="?quitar-palabra-clave=gestion" class="quitar-filtro">X</a></spam>
		<spam class="filtro">PMI <a href="?quitar-palabra-clave=pmi" class="quitar-filtro">X</a></spam>
		<spam class="filtro">Proyectos <a href="?quitar-palabra-clave=proyectos" class="quitar-filtro">X</a></spam>
	</div>
</div>
<div class="col-md-9 col-md-offset-1 header-title">
	<h2>Resultados busqueda</h2>
	<div class="row publicaciones">
		<div class="col-md-12">
			<h2><a href="#">PMBOK 5yh edition</a></h2>
		</div>
		<div class="col-md-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat interdum odio in tempor.</p>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<p>Visitas: 1023</p>
				</div>
				<div class="col-md-3">
					<p>Valoracion: 8.7</p>
				</div>
				<div class="col-md-3">
					<p>Referencias: 89</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>Categoria: informatica</p>
				</div>
				<div class="col-md-3">
					<p>Sub-Categoria: Gestion</p>
				</div>
			</div>

		</div>
	</div>
	<div class="row publicaciones">
		<div class="col-md-12">
			<h2><a href="#">PMBOK 5yh edition</a></h2>
		</div>
		<div class="col-md-12">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat interdum odio in tempor.</p>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3">
					<p>Visitas: 1023</p>
				</div>
				<div class="col-md-3">
					<p>Valoracion: 8.7</p>
				</div>
				<div class="col-md-3">
					<p>Referencias: 89</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<p>Categoria: informatica</p>
				</div>
				<div class="col-md-3">
					<p>Sub-Categoria: Gestion</p>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}

